{% extends "main.html" %}

{% block content %}

  <!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Episodes</span></h2>
        </div>

        <div class="hero-section__search">
          <form id="searchForm" class="form" action="{% url 'episodes' %}" method="get">
            <div class="form__field">
              <label for="formInput#search"> </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_episode"
               value="{{search_episode}}" placeholder="Search by Episode Title" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">

        {% for episode in allepisodes %}
          <div class="column">
            <div class="card project">
                <!-- Href-ul de jos este url pentru 1 episod -->
              <a href="{% url 'episode' episode.id %}" class="project"> 
                <img class="project__thumbnail" src="{{episode.spotifyimg}}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{episode.title|truncatechars:55}}</h3>
                  <p><a class="project__author">{{episode.description|truncatechars:125}}</a></p>
                  </p>
                </div>
              </a>
            </div>
          </div>      
          {% endfor %}  

        </div>
      </div>
    </section>

    {% include 'pagination.html' with queryset=allepisodes custom_range=custom_range%}

  </main>
</body>

{% endblock content %}
