{% extends "main.html" %}

{% block content %}

  <!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Podcasts</span></h2>
        </div>

        <div class="hero-section__search">
          <form id="searchForm" class="form" action="{% url 'podcasts' %}" method="get">
            <div class="form__field">
              <label for="formInput#search"> </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_podcast"
               value="{{search_podcast}}" placeholder="Search by Podcast Title" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">

        {% for podcast in allpodcasts %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'podcast' podcast.id %}" class="project">
                <img class="project__thumbnail" src="{{podcast.spotifyimg}}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{podcast.title|slice:35}}</h3>
                  <p><a class="project__author">{{ podcast.description|truncatechars:125 }}</a></p>
                  </p>
                </div>
              </a>
            </div>
          </div>      
          {% endfor %}  

        </div>
      </div>
    </section>

    {% include 'pagination.html' with queryset=allpodcasts custom_range=custom_range%}

  </main>
</body>

{% endblock content %}
