
{% extends "main.html" %}

{% block content %}

  <!-- Main Section -->
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Info {{episode.title}}</h3>
          <div class="singleProject__toolStack">
          </div>
          <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Spotify
          </a>
        </div>

        <div class="column column--2of3">
            <img class="singleProject__preview" src="{{ episode.featured_image.url }}" alt="portfolio thumbnail" />
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{ episode.vote_ratio|floatformat:1 }} ⭐ ({{episode.vote_total}} Rating{{episode.vote_total|pluralize:"s"}})</small>
            </span>
            <h2 class="singleProject__title">{{episode.title}}</h2>
            <h3 class="singleProject__subtitle">About the episode</h3>
            <div class="singleProject__info">
              {{episode.description}}
            </div>

            <div class="comments">
              <h3 class="singleProject__subtitle">Reviews</h3>
              {% if request.user.profile.id in episode.reviewers %}
              {% elif request.user.is_authenticated %}
              <form class="form" action="{% url 'episode' episode.id %}" method="POST">
                <div class="star-rating">
                  <i class="far fa-star" data-rating="1"></i>
                  <i class="far fa-star" data-rating="2"></i>
                  <i class="far fa-star" data-rating="3"></i>
                  <i class="far fa-star" data-rating="4"></i>
                  <i class="far fa-star" data-rating="5"></i>
                  <input type="hidden" name="rating" id="selectedRating" value="0">
              </div>
                  {% csrf_token %}
                  <div class="form__field">
                    <label for="formInput#textarea">{{form.body.value}} </label>
                    {{form.value}}
                  </div>
                  <div class="form__field">
                    <label for="formInput#textarea">{{form.body.label}} </label>
                    {{form.body}}
                  </div>
                  <input class="btn btn--sub btn--lg" type="submit" value="Submit review" />
                </form>
                {% else %}
                <a href="{% url 'login' %}?next={{request.path}}">Please login to leave a review!</a>
                {% endif %}
              <div class="commentList">
                {% for review in reviews %}
                <div class="comment">
                  <a>
                    <img class="avatar avatar--md"
                      src="{{review.owner.profile_image.url}}" alt="user" />
                  </a>
                  
                  <div class="comment__details">
                    {% if review.value == 1 %}
                    <a class="comment__author">{{review.owner.username}} ⭐</a>
                    {% elif review.value == 2 %}
                    <a class="comment__author">{{review.owner.username}} ⭐⭐</a>
                    {% elif review.value == 3 %}
                    <a class="comment__author">{{review.owner.username}} ⭐⭐⭐</a>
                    {% elif review.value == 4 %}
                    <a class="comment__author">{{review.owner.username}} ⭐⭐⭐⭐</a>
                    {% elif review.value == 5 %}
                    <a class="comment__author">{{review.owner.username}} ⭐⭐⭐⭐⭐</a>
                    {% endif %}
                    <p class="comment__info">  {{review.body}} </p>
                  </div>
                </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </main>
  </body>

{% endblock content %}